/* 
  Student Name: Gabriella Torres
  File Name: styles.css
  Date: 3/1/2026
*/
/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul{
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rule for body and image */
body {
  background-color: #e4f1f6;
}

img {
  max-width: 100%;
  display: block;
}

/* Style rule for header content */
header h1 {
  text-align: center;
  font-size: 3em;
  font-family: Georgia, 'Times New Roman',Times, serif;
  padding: 3%;
  color: #101a2d;
}

/* Style rules for Navigation area*/
nav {
  padding: 1%;
  margin-bottom: 1%;
  background-color: #1d396d;
  position: sticky;
  top:0;
}
nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
}
nav li {
  display: inline-block;
  font-size: 1.5em;
  font-family: '8612', sans-serif;
  padding: 4%;
  font-weight: bold;
}
nav li a {
  display: block;
  color: #e3eaf8;
  padding: 0.5em 2em;
  text-decoration: none;
}

/*Style rules for main content */
main {
  display: block;
  margin: 1%
  padding: 2%;
  font-family: 'Crimson Pro', sans-serif;
  font-size: 1.5em;
  overflow: auto;
}

#image {
margin-bottom: 1%;
  width: 45%;
  float: left;
  padding: 1%;
}
#group {
  width: 45%;
  float: right;
}

/* Style rules for footer content */
footer {
  text-align: center;
  font-size: 0.85em;
  color: #e3eaf8;
  background-color: #1d396d;
  padding: 1% 0%;
}

