/* 
  Student Name: Gabriella Torres
  File Name: styles.css
  Date: 3/1/2026
*/
/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul{
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rule for body and image */
body {
  background-color: #e4f1f6;
}

img {
  max-width: 100%;
  display: block;
}

/* Style rule for header content */
header h1 {
  text-align: center;
  font-size: 3em;
  font-family: Georgia, 'Times New Roman',Times, serif;
  padding: 3%;
  color: #101a2d;
}

/* Style rules for Navigation area*/
nav {
  padding: 1%;
  margin-bottom: 1%;
  background-color: #e67afcb;
  position: sticky;
  top:0;
}
nav ul {
  list-style-type: none;
  text-align: center;
}
nav li {
  display: inline-block;
  font-size: 1.5em;
  font-family: '8612', sans-serif;
  padding: 4%;
}
nav li a {
  display: block;
  color: #092834;
  text-decoration: none;
}

/*Style rules for main content */
main {
  display: block;
  margin: 1% 1% 15%;
  padding: 1%;
  font-family: 'Crimson Pro', sans-serif;
  font-size: 1.5em;
}

#image {
margin-bottom: 1%;
}

/* Style rules for footer content */
footer {
  text-align: center;
  font-size: 0.70em;
  margin-top: 2em;
}

